<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body style="background-color: <%= backgroundColor ? backgroundColor : null %>;">
  <header>

  </header>
  <main>
    <% if(locals.nuevoUsuario) {%>
      <p>
        Hola <%= nuevoUsuario.nombre %>  , elegiste el color: <%= nuevoUsuario.color %> , tu email es:
        <%= nuevoUsuario.email %> y tu edad es: <%= nuevoUsuario.edad %>
      </p>
             
      <% }else{%>
        <form action="/" method="POST">

          <label for="nombre">Ingrese su nombre</label>
          <input type="text" id="nombre" name="nombre" >
    
          <br>
          <small ><%= locals.errors && errors.name ? errors.name.msg : null %> </small>
          <br>
    
          <label for="color">Elija un color</label>
          <select name="color" id="color" >
    
            <option value="" selected hidden>Color</option>
            <option value="red">Rojo</option>
            <option value="blue">Azul</option>
            <option value="green">Verde</option>
            <option value="yellow">Amarillo</option>
            <option value="gray">Gris</option>
    
    
          </select>

          <br>
          <small ><%= locals.errors && errors.color ? errors.color.msg : null %> </small>
          <br>
    
          
    
          <label for="email">Ingrese su email</label>
          <input type="email" id="email" name="email" >

          <br>
          <small ><%= locals.errors && errors.email ? errors.email.msg : null %> </small>
          <br>
    
          <label for="edad">Ingrese su edad</label>
          <input type="number" id="edad" name="edad" >

          <br>
          <small ><%= locals.errors && errors.edad ? errors.edad.msg : null %> </small>
          <br>
    
          <button type="submit">Enviar</button>
          <button type="reset">Borrar</button>
    
    
    
        </form>
        
        
        
    
        

      
    
    
    <% } %> 
  </main>
  <footer>

  </footer>

  
</body>
</html>
